@import "../../../styles/variables.scss";

.wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
  @media screen and (max-width: $sm) {
    width: 90vw;
  }
  @media screen and (min-width: $md) {
    width: 50vw;
  }
  @media screen and (min-width: $lg) {
    width: 30vw;
  }
}

.input {
  border-radius: 25px 0 0 25px;
  border: $neutralColor300 1px solid;
  font-size: 16px;
  padding: 10px 15px;
  width: 100%;

  &:focus {
    outline: none !important;
  }
}

.icon {
  background-color: $accentColorSearch;
  height: 40px;
  border-radius: 0 25px 25px 0;
  width: 50px;
  padding: 8px;
  color: $neutralColor100;
}
